datasets==4.8.2
faiss-cpu==1.13.2
FlagEmbedding>=1.2.1
gradio==6.10.0
groq==1.1.2
langchain==1.2.13
langchain-classic==1.0.3
langchain-community==0.4.1
langchain-core==1.2.22
langchain-huggingface==1.2.1
langchain-openai==1.1.12
langchain-text-splitters==1.1.1
numpy==2.2.6
pydantic-settings==2.13.1
PyMuPDF==1.27.2.2
ragas==0.4.3
rank-bm25==0.2.2
sentence-transformers==5.1.0
torch==2.11.0
transformers>=4.46.0